a {
  text-decoration: underline !important;
  text-decoration-color: black !important; }

#desc1 {
  color: #104b63 !important; }

.navbar {
  background-color: #104b63;
  border: #104b63;
  border-radius: 0px 0px 5px 5px; }
  .navbar .navbar-header .navbar-brand {
    color: white; }

.navbar-default .navbar-nav li a {
  color: white; }
  .navbar-default .navbar-nav li a:visited {
    color: white; }
  .navbar-default .navbar-nav li a:hover {
    color: #cccccc; }

.jumbotron img {
  max-height: 350px;
  border-radius: 50%; }

.ending-text {
  margin-top: 15px; }

.fa {
  padding: 10px;
  color: white; }
  .fa:hover {
    opacity: 0.75; }

.footer {
  margin-top: 20px;
  background-color: #104b63; }

.portfolio-item img {
  border-radius: 7px; }

.portfolio-item h3 {
  color: black; }

.skills {
  height: 80px;
  margin: 5px auto; }

.skills-text {
  text-align: center;
  margin-top: 10px; }

@media (max-width: 768px) {
  .ending-text, #desc2 {
    display: none; }
  #self-image {
    margin: 0 auto;
    height: 200px; }
  #fullname, #desc1 {
    text-align: center; } }

@media (max-width: 992px) {
  #desc2 {
    display: none; } }
