@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700);

body {
/*   background-color: whitesmoke; */
}

.navbar {
  background-color: #3976C9;
  border: #3976C9;
}

.navbar-header .navbar-brand {
  color: white;
}

.navbar-header .navbar-brand:hover {
  color: white;
}

.navbar-nav.navbar-right li a {
  color: white;
}

.navbar-nav.navbar-right li a:hover {
  color: white;
}


.jumbotron {

}

.portfolio-item h3 {
  color: #3976C9;
}


.jumbotron img {
  max-height: 350px;
  border-radius: 50%;
}

.ending-text {
  margin-top: 15px;
}

.fa {
  padding: 10px;
  color: white;
}

.fa:hover {
  color: #CCCCCC;
}

.footer {
  margin-top: 20px;
  background-color: #3976C9;
}

.portfolio-item img {
  border-radius: 7px;
}

.skills {
  width: 80px;
}

@media (max-width: 768px) {
  .ending-text, #desc2 {
    display: none;
  }
  #self-image {
    margin: 0 auto;
    height: 200px;
  }
  #fullname, #desc1 {
    text-align: center;
  }
}
@media (max-width: 992px) {
  #desc2 {
    display: none;
  }
}

/* .portfolio-item {
  margin: 0 auto;
}
NEED TO FIX THIS IF IMAGE IS LESS THAN 768px, SEE PARAGRAPH TEXT AS WELL
*/
